.App {
  /* height: 100%; */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.div-formik {
  border: 5px solid black;

  height: 100%;
}

.formik {
  height: 100%;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.role-error {
  background: red;
}

.div-formik {
  margin: 30px;
}

.button-input {
  width: 100px;
  display: flex;
  justify-content: center;
}

.newcards {
  background: grey;
}
